*{


margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
body{

    background-color: rgb(0, 0, 0);
}



.pessoal{

width: 100%;
top: 5;
position: fixed;
background: rgba(0, 60, 255, 0.1);
padding: 1.5rem;
z-index: 100; 

}



